@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Select all the decendent element */
* > * {
  box-sizing: border-box;
  font-family: "Popins" sans-serif;
  margin: 0;
}
body {
  --color-dark: #343a40;
  --color-light: #f5f3f4;
  --PanelColor: #ffe66d;
  --active: #06d6d0;
}
#site-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;
}
#site-main .board {
  padding: 2em 0;
  border-radius: 0.2em;
}
.text-dark {
  color: var(--color-dark);
}
.text-light {
  color: var(--color-light);
}
ul {
  list-style: none;
}
ul > li .flex {
  color: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 1em;
  text-align: left;
  background-color: var(--active);
  border-radius: 10px;
  padding: 0.8em 0;
  box-shadow: 1px 10px 20px #343a40;
}
ul > li img {
  border-radius: 50%;
  width: 6%;
}
.upcomming {
  margin-top: 1em;
}

